<!DOCTYPE html>
<html>
<head>
    <title>Countries</title>
</head>
<body>
    <h1>🌍 List Of Countries</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Capital</th>
                <th>Area</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
            <tr>
                <td>{{ country.name.common }}</td>
                <td>{{ country.capital[0] if country.capital }}</td>
                <td>{{ country.region }}</td>
                <td>{{ country.population | int }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>